body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background: #0d0d0e;
    color: white;
    padding: 10px 0;
    text-align: center;
}
header h1 {
    margin: 0;
    font-size: 2em;
}
header p {
    margin: 0;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.section {
    margin-bottom: 20px;
}
.section h2 {
    border-bottom: 2px solid #0d0d0e;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.links a {
    display: block;
    color: #0077cc;
    text-decoration: none;
    margin: 5px 0;
}
.links a:hover {
    text-decoration: underline;
}

.scaled-image {
    display: block;
    margin: 20px auto;
    max-width: 50%;
    transform: scale(0.5); /* Scales the image to half size */
    border-radius: 8px;
}

/* Navigation Bar Styling */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}

.navbar li {
    display: inline;
}

.navbar li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    font-weight: bold; /* Makes the text bold */
    transition: background-color 0.3s;
}

.navbar li a:hover {
    background-color: #575757;
    color: #fff;
}